body{
    font-family: 'Gelasio', serif;
    text-align:center;
    padding-bottom: 100px;
}
#projectsList{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.project{
    /* width:25%; */
    width: 520px;
    height:600px;
    padding:10px;
    margin:2%;
    border: 2px solid  blue;
}
h3{
    font-size: x-large;
}
h2{
    margin-bottom: 0px;
}
/*
.gameImage{

}
*/
@media only screen and (min-width: 1860px) {
    .project{
        width:540px;
    }
}
